ALTER TABLE personas ADD COLUMN IF NOT EXISTS nacionalidade TEXT; ALTER TABLE personas ADD COLUMN IF NOT EXISTS idade INTEGER; ALTER TABLE personas ADD COLUMN IF NOT EXISTS perfil_profissional TEXT;
